.toDoItem{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.toDoItemText::before{
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background-color: rgb(89, 69, 215);
    position: absolute;
    left: -55px;
    top: 56%;
    transform: translate(0, -50%) rotate(15deg)
}
.toDoItemText{
    font-size: 35px;
}
.todoItemIconGroup{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(89, 69, 215);
}
.todoItemImportantIcon{
    color: rgb(196, 37, 37);
    margin-right: 10px;
}
.overCrossLineAnimated{
    top: 50%;
    transform: translate(-50%);
    left: 14%;
    position: absolute;
    border-radius: 10px;
    width: 10px;
    height: 5px;
    background-color: rgba(88, 69, 215, 0.636);

}