.ProfileMenu{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.ProfileMenuIcon{
    position: relative;
    z-index: 3;
    font-size: 27px;
    color: rgb(89, 69, 215);
    cursor: pointer;
}
.hiddenProfileMenu{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
    height: 130px;
    width: 130px;
    transform-origin: top right;
    border-radius: 100% 50% 100% 84%;
    transition: 0.4s;
}

.hiddenProfileMenuWrapper{
    position: relative;
}

.hiddenProfileMenuWrapper span, .hiddenProfileMenuWrapper a{
    position: absolute;
    cursor: pointer;
    left: 50px;
    border-radius: 50%;
    top: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #5945d7;
    border: #5945d7;
    padding: 9px;
    transition: 0.4s;
    display: flex;
    text-decoration: none;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.hiddenProfileMenuWrapper span:last-child, .hiddenProfileMenuWrapper a:last-child{
    top: 50px;
    left: 90px;
}

.hiddenProfileMenuWrapper span:hover, .hiddenProfileMenuWrapper a:hover{
    color: white !important;
    background: #5945d7;
}
@media screen and (max-width: 600px){
    .ProfileMenu{
        margin-right: 10px;
    }
}
